.status {
  display: inline-block;
  margin-right: 15px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.online {
  background-color: green;
}
.offline {
  background-color: red;
}
.avatar {
  margin-right: 15px;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
